@page "/categories"
@inject HttpClient Http
@using todo_pwa.Models;

<PageTitle>Categories</PageTitle>

<h1>Categories</h1>

@if (results == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in results.Data)
                    {
                        <tr>
                            <td>@category.Id</td>
                            <td>@category.Name</td>
                            <td>
                                <button @onclick="@(()=>GetCategory(@category.Id))" class="btn btn-sm btn-primary">Edit</button>
                            </td>
                            <td>
                                <button @onclick="@(()=>DeleteCategory(@category.Id))" class="btn btn-sm btn-primary">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <button class="page-link" aria-label="Previous" disabled="@IsPreviousDisabled" @onclick="PreviousPage">
                                <span aria-hidden="true">Previous</span>
                            </button>
                        </li>
                        <li class="page-item disabled"><a class="page-link">Page @results.CurrentPage of @results.TotalPages</a></li>
                        <li class="page-item">
                            <button class="page-link" aria-label="Next" disabled="@IsNextDisabled" @onclick="NextPage">
                                <span aria-hidden="true">Next</span>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="col-lg-1 col-md-1 col-sm-12">&nbsp;</div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <h3>Add Category</h3>
            <br>
            <input type="text" @bind-value="newCategory.Name" class="form-control mb-3" placeholder="Enter Name" />
            <button class="btn btn-block btn-primary" @onclick="SubmitCategory">Submit</button>
        </div>
    </div>
}

@code {
    private Results<Category> results;
    private Category newCategory = new Category();
    private bool edit = false;

    private bool IsPreviousDisabled => results.CurrentPage == 1;
    private bool IsNextDisabled => results.CurrentPage >= results.TotalPages;
    private int pageNumber = 1;

    protected override async Task OnInitializedAsync()
    {
        await LoadPage();
    }

    private async Task SubmitCategory()
    {
        if (edit == false)
        {
            await Http.PostAsJsonAsync<Category>("categories", newCategory);
            await OnInitializedAsync();
            newCategory = new Category();
        }
        else
        {
            await Http.PatchAsJsonAsync<Category>("categories/" + newCategory.Id, newCategory);
            await OnInitializedAsync();
            edit = false;
            newCategory = new Category();
        }
    }
    private async Task DeleteCategory(int id)
    {
        await Http.DeleteAsync("categories/" + id.ToString());
        await OnInitializedAsync();
    }

    private async Task GetCategory(int id)
    {
        newCategory = await Http.GetFromJsonAsync<Category>("categories/" + id.ToString());
        edit = true;

    }

    private async Task LoadPage()
    {
        results = await Http.GetFromJsonAsync<Results<Category>>($"categories?pageNumber={pageNumber}");
    }

    private async Task PreviousPage()
    {
        if (pageNumber > 1)
        {
            pageNumber--;
            await LoadPage();
        }
    }

    private async Task NextPage()
    {
        if (pageNumber < results.TotalPages)
        {
            pageNumber++;
            await LoadPage();
        }
    }
}
